header.bg-primary {
    background-image: url("https://cdn.prod.website-files.com/6511cfd2606eaef1830868c7/657371154573c77a18cff6e1_pattern-navbar.webp");
    background-color: white !important;
    color: #29332D;
}