.bg-primary {
    background-image: url("../img/fundo-neutro.webp");
    background-color: white !important;
}

.text-primary {
    color: #29332D !important;
}

nav .gap-custom {
    gap: 3rem
}

header .mx-custom {
    max-height: 60px;
}