@import url("custom.css");
@import url("header.css");
@import url("footer.css");
@import url("../fonts/fonts.css");

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1; 
}

:root {
    --font-contrast: "Prompt", sans-serif;
    --font-link: "Quicksand", sans-serif;
    --font-color-darker: #29332D;
    --font-color-light: #ffffff;
    --font-color-darker-green: #398F5A;
    --font-color-light-green: #27C262;
}