#logo-img {
    object-fit: contain;
    object-position: center;
    display: block;
}

#logo-img-legend {
    font-family: var(--font-contrast);
}

.menu-link {
    font-family: var(--font-link);
    font-weight: bold;
}

.menu-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #29332D;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.menu-link:hover::after {
    width: 100%;
}