
.product-card {
    max-width: 220px;
    margin: 0 auto;
}



.btn-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
}

.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.9rem;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
}

.new-price {
    color: #28a745;
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 915px) {
    .product-img {
        min-height: 400px;
    }

    .btn-circle {   
        padding: 5px;
    }
}

@media screen and (min-width: 915px) {
    .product-img {
        min-height: 350px;
    }

    .btn-circle {   
        padding: 8px;
    }
}


.card {
    /* max-width: 260px; */
    /* margin: 0 auto; */
    /* min-height: 380px; */
}

@media (max-width: 1368px) {
    .card {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-img {
        max-height: 120px;
        object-fit: contain;
    }
}





